.list-page {
    padding: 42px calc(50% - 300px);
}

.list-page__title {
    font-size: 34px;
    margin-bottom: 26px;
}

.list-page ul li {
    font-size: 18px;
}

.list-page ul li:not(:last-child) {
    margin-bottom: 10px;
}

@media screen and (max-width: 650px) {
    .list-page {
        padding: 10px;
    }

    .list-page__title {
        text-align: center;
    }
}